/* CSS variables */
:root {
	--color-font-dark: #777;
	--color-font-light: #fff;
	--color-background-light: #fff;
	--color-green-light: #7ed56f;
	--color-green-light-alpha: rgba(126, 213, 111, 0.75);
	--color-green-medium: #55c57a;
	--color-green-dark: #28b485;
	--color-green-dark-alpha: rgba(40, 180, 131, 0.75);
	--color-shadow-alpha: rgba(0, 0, 0, 0.25);
}

/* Simple reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Lato, Helvetica, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
	color: var(--color-font-dark);
	padding: 30px;
}

.header {
	position: relative;
	height: 95vh;
	background-image: linear-gradient(
			to right bottom,
			var(--color-green-light-alpha),
			var(--color-green-dark-alpha)
		),
		url('../img/hero.jpg');
	background-size: cover;
	background-position: top;
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.logo-box {
	position: absolute;
	top: 40px;
	left: 40px;
}

.logo {
	height: 35px;
}

.text-box {
	position: relative;
	top: 40%;
	text-align: center;
}

.heading-primary {
	color: var(--color-font-light);
	text-transform: uppercase;
	/* Prevents slight jumping movement in the text */
	backface-visibility: hidden;
	margin-bottom: 60px;
}

.heading-primary-main {
	display: block;
	font-size: 60px;
	font-weight: 400;
	letter-spacing: 35px;
	animation: move-in-left 1s ease-out;
}

.heading-primary-sub {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 17px;
	animation: move-in-right 1s ease-out;
}

.btn {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	padding: 15px 40px;
	border-radius: 100px;
	transition-property: transform, box-shadow;
	transition-duration: 150ms;
	transition-timing-function: ease-out;
}

.btn-white {
	background-color: var(--color-background-light);
	color: var(--color-font-dark);
}

.btn:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px var(--color-shadow-alpha);
}

.btn:active {
	transform: translateY(-1px);
	box-shadow: 0 5px 10px var(--color-shadow-alpha);
}

@keyframes move-in-left {
	0% {
		opacity: 0;
		transform: translateX(-100px);
	}

	80% {
		transform: translateX(10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes move-in-right {
	0% {
		opacity: 0;
		transform: translateX(100px);
	}

	80% {
		transform: translateX(-10px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
