// Simple reset
*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	// Defines what 1rem equals
	font-size: $font-size-base;
}

body {
	box-sizing: border-box;
	padding: 3rem;
}
