body {
	font-family: Lato, Helvetica, sans-serif;
	font-weight: 400;
	line-height: 1.7;
	color: $color-font-dark;
}

.heading-primary {
	color: $color-font-light;
	text-transform: uppercase;
	// Prevents slight jumping movement in the text
	backface-visibility: hidden;
	margin-bottom: 6rem;

	&--main {
		display: block;
		font-size: 6rem;
		font-weight: 400;
		letter-spacing: 3.5rem;
		animation: move-in-left 1s ease-out;
	}

	&--sub {
		display: block;
		font-size: 2rem;
		font-weight: 700;
		letter-spacing: 1.75rem;
		animation: move-in-right 1s ease-out;
	}
}

.heading-secondary {
	display: inline-block;
	background-image: linear-gradient(
		to right,
		rgba(var(--color-primary-light), 1),
		rgba(var(--color-primary-dark), 1)
	);
	font-size: 3.5rem;
	font-weight: 700;
	text-transform: uppercase;

	// Creates gradient effect inside of text
	-webkit-background-clip: text;
	color: transparent;

	letter-spacing: 2px;
	transition: all 200ms;

	&:hover {
		transform: skewY(2deg) skewX(15deg) scale(1.1);
		text-shadow: 0.5rem 1rem 1rem rgba($color-shadow, 0.25);
	}
}

.heading-tertiary {
	font-size: 2rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: $font-size-default;

	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
